@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
}

#dropDownMoreInfo {
  font-variation-settings: "FILL" 0, "wght" 900, "GRAD" 0, "opsz" 48;
}

html {
  font-family: "Quicksand", sans-serif;
}

input[type="text"] {
  outline: none;
}

body {
  background-color: #e6e6e6;
}

button {
  background-color: #c4d8e2;
}

#backgroundIMG {
  z-index: -1;
  position: fixed;
  min-height: 100vh;
}

.hourly-divs {
  min-width: 3rem;
  max-width: 3rem;
}
